<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheets %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    {# <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/> #}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
    
    {% include 'dashboard/navbar.html' %}
    {% include 'dashboard/messages.html' %}

    {% block body %}
    {% endblock %}

</body>
</html>