{% extends 'dashboard/base.html' %}

{% block title %}

	Meetings

{% endblock %}

{% block body %}

	<div class="container">
		<div class="card">
			<div class="card-header">Meetings</div>
			<div class="card-body">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<th>Number</th>
						{% if user.is_superuser %}
							<th colspan="2">Actions</th>
						{% endif %}
					</thead>
					<tbody class="tbody-light">
						{% for meeting in meetings %}
							<tr>
								<td><a href="{% url 'meetings:details' meeting.id %}">{{ meeting.number }}</a></td>
								{% if user.is_superuser %}
									<td><a href="{% url 'meetings:meeting-edit' meeting.id %}" class="btn btn-primary btn-sm">Edit</a></td>
									<td><a href="{% url 'meetings:meeting-delete' meeting.id %}" class="btn btn-danger btn-sm">Delete</a></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<br>

	{% if user.is_superuser %}
		<div class="text-center">
			<a href="{% url 'meetings:create' %}" class="btn btn-success">Add Meeting</a>
		</div>
	{% endif %}

{% endblock %}